# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Generated data
data/*.csv

# Python cache
.pytest_cache/

# Build files
*.egg-info/